[Unit]
Description=Servlet part of Archinamon Fullstack Personal installation stand backend
After=network.target archinamon.tcp.socket
Requires=archinamon.tcp.socket

[Service]
Type=simple
ExecStart=/app/server.kexe 80 false
TimeoutStopSec=5

[Install]
WantedBy=default.target